---
import LogoLong from "../../assets/logo_long.svg";
---

<section class="block h-dvh snap-start bg-[#e9e1da] relative">
  <p class="px-6 py-6 sm:px-8 sm:py-8 md:px-10 md:py-10 max-w-136 text-pretty text-base font-medium leading-tight text-neutral-950 sm:text-lg md:text-xl">
    Born in the circulations of the contemporary world, we believe in the force of the collective and the beauty of contrasts. Our practice is an alliance of sensibilities and resonances that responds to the growing need for 360° creative ecosystems.
  </p>
  <div class="w-screen absolute bottom-0 left-0">
  <LogoLong class="w-full h-full object-contain" />
  </div>
</section>
