---
import LogoLong from "../../assets/logo_long.svg";
---

<section class="slide-shell snap-start">
  <div class="slide-panel relative block bg-[#e9e1da]">
    <div class="absolute bottom-0 left-0 w-screen">
      <LogoLong class="h-full w-full object-contain" />
    </div>
  </div>
</section>
