---
import LogoLong from "../../assets/logo_long.svg";
---

<section class="slide-shell snap-start">
  <div class="slide-panel flex items-center justify-center bg-[#EDDDD9] px-6">
    <LogoLong class="h-full w-full object-contain" />
  </div>
</section>
