---
import Logo from "../../assets/logo.svg";
---

<span class="portable-text-logo" aria-label="ACTS">
  <Logo class="portable-text-logo__icon" />
</span>

<style>
  .portable-text-logo {
    display: inline-flex;
    vertical-align: baseline;
    line-height: 1;
  }

  .portable-text-logo__icon {
    width: auto;
    height: 0.78em;
  }
</style>
