---
import Logo from "../assets/logo.svg";
---

<header class="pointer-events-none fixed inset-x-0 top-0 z-50">
  <div class="flex w-full items-center justify-between px-5 py-5 uppercase sm:px-6 sm:py-6 md:px-8">
    <a href="/" class="pointer-events-auto"> 
      <Logo class="h-8 md:h-10 w-auto" />
    </a>
    <div class="flex items-center gap-4 pointer-events-auto">
      <a href="/" class="font-avant-garde md:text-xl text-lg font-bold leading-none tracking-[-1px] text-black hover:cursor-pointer">
        Projects
      </a>
    <a href="/events" class="font-avant-garde md:text-xl text-lg font-bold leading-none tracking-[-1px] text-black hover:cursor-pointer">
      Events
    </a>
    <a href="/info" class="font-avant-garde md:text-xl text-lg font-bold leading-none tracking-[-1px] text-black hover:cursor-pointer">
      Info
    </a>
  </div>
  </div>
</header>
